<html>
    <head>
        <title>Personal Details</title>
        <script type="text/javascript" src="js/scripts.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Condensed" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="css/styles.css">
    </head>
         <body background="images/giphy1.gif" align="middle">

        <center>
        <div class= "this">
        <font face="verdana" size="5" color="yellow">Personal Details</font>
        <form method="post" action='/name'> 
        <font face="verdana" size="3" color="yellow">first name</font>
        <input type="text" name="first_name" class="pdeets">
        <font face="verdana" size="3" color="yellow">last name</font>
        <input type="text" name="last_name" class="pdeets1">
        <br>
        <input type="submit" class="next" value="Next &raquo;">
        </form>
        </div>
        </div>
        </center>


        </body>
</html>
